.metadata
RemoteSystemsTempFiles
target
.recommenders
.terraform
TerraformPlay/local/terraform.tfstate
TerraformPlay/local/terraform.tfstate.backup
TerraformPlay/local/.terraform/plugins/darwin_amd64/lock.json
TerraformPlay/local/.terraform/plugins/darwin_amd64/terraform-provider-docker_v1.1.1_x4
**/.vscode/**
