<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper namespace = "mssoSession">

			<select id="selectAll" resultType="MssoSession">
				<!-- Get All -->
				select * from IDM_MSSO_SESSIONS order by SESSION_ID
			</select>

			<insert id="insert" parameterType="MssoSession">
				<!--Insert-->
        insert into IDM_MSSO_SESSIONS values(#{session_id},#{ssoid},#{type},#{source_site_id},#{create_date},#{expire_date})
			</insert>

			<update id="update" parameterType="MssoSession">
				<!--Update-->
					update IDM_MSSO_SESSIONS
				<set>
					<if test="site_id != null">site_id=#{site_id},</if>
					<if test="type != null">type=#{type},</if>
				</set>		
				<where>
		session_id=#{session_id}
				</where> 
			</update>

			<delete id="delete" parameterType="String">
				<!--Delete-->
        delete from IDM_MSSO_SESSIONS 
				<where>
		session_id=#{session_id}
				</where> 
			</delete>

			<select id="selectOne" parameterType="String" resultType="MssoSession">
				<!--Get one-->
        select * from IDM_MSSO_SESSIONS 
				<where>
		session_id=#{session_id,javaType=String,jdbcType=varchar}
				</where> 
			</select>


		</mapper>
	</mappers>
</configuration>