<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
		
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://ottgwdevuat.ckrc1acwyyns.ap-southeast-1.rds.amazonaws.com:3306/ottgwdev" />
		<property name="user" value="ottgw_db"/>
	    <property name="password" value="password"/>
	    <property name="maxPoolSize" value="20" />
	    <property name="minPoolSize" value="3" />
	    <property name="maxStatements" value="100" />
	    <property name="breakAfterAcquireFailure" value="false"/>
		<property name="acquireRetryAttempts" value="3"/>
		<property name="idleConnectionTestPeriod" value="300"/>
	    <property name="testConnectionOnCheckout" value="true" />
	</bean>	
		
	<!-- DBManager beans -->
	<bean id="DBManager" class="com.ufinity.ott.dao.DBManager">
		<property name="dataSource" ref="dataSource" />
	</bean>	

	<!-- PlatformTransactionManager beans -->
	<bean id="platformTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
	</bean>
</beans>