<div class="content-wrapper container">
    <!-- Content start here -->
    <div ng-if="hasNoDevice">
        <h3>Whoops you got 0 devices _(:з」∠)_</h3>
        <br>
    </div>
    <ul class="nav nav-tabs user-tab">
        <!-- SB: Tenary ng-class seems not working for ng-class. -->
        <li ng-repeat="i in items" class="user{{i+1}}" ng-class="{'service-on':UserProfile.devices[i].is_active, 'service-off':!UserProfile.devices[i].is_active, active: ('s_overview' | routeSegmentStartsWith) && ('id' | routeSegmentParam) == i}">
            <a href="#{{ 's_overview.seg' | routeSegmentUrl : {id: i} }} ">
                <div class="tab-name ">{{UserProfile.devices[i].display_name}}</div>
                <div class="tab-device ">{{UserProfile.devices[i].type}}</div>
            </a>
        </li>
    </ul>
    <!-- Devices -->
    <div app-view-segment="1"></div>
    <!-- Content end here -->
</div>
