<!-- modal: global info/error message -->
<div id="global-message-modal" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="closebt x-btn close" data-dismiss="modal"></div>
                <h5 class="modal-title">{{globalErrorMessage.title}}:</h5>
            </div>
            <div class="modal-body">
                <p>{{globalErrorMessage.content}}</p>
            </div>
            <div class="modal-footer">
                <a class="button cancel" data-dismiss="modal"> Cancel </a> <a class="button confirm" data-dismiss="modal"> Confirm </a>
            </div>
        </div>
    </div>
</div>
