<html>

<head>
	<link href="assets/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %> <br> Powered by MongoDB Atlas</p>
	<p></p>

	<div>
		<img src="assets/qbey.jpg" alt="incubator">
	</div>

	<h2>
		QB's management console:
	</h2>
	<ol>
		<li>
			Pray for Madoka: <br>
			<a href="/pray">/pray</a>
		</li>
		<li>
			List all magia: <br>
			<a href="/qbey">/qbey</a>
		</li>
		<li>
			List all magia by streaming: <br>
			<a href="/qbey/all">/qbey/all</a>
		</li>
		<li>
			Find magia by name: <br>
			<a href="/qbey/get/kyouko">/qbey/get/kyouko</a>
		</li>
		<li>
			Contract new magia: <br>
			<a href="/qbey/post/iroha">/qbey/post/iroha</a>
		</li>
		<li>
			Recycle magia: <br>
			<a href="/qbey/delete/iroha">/qbey/delete/iroha</a>
		</li>
	</ol>
</body>

</html>